<div class="bha"><h2><marquee>PAKISTAN RAILWAY RESERVATION SYSTEM</marquee></h2>
  <div class="topnav">
      <a routerLink="/home">Home</a>
      <a routerLink="/timetable">Schedule</a>
    <div class="topnav-right"><a routerLink="/userreg">User Register</a>
      <a routerLink="/userlogin">User Login</a>
      <a routerLink="/adminlogin">Admin</a></div>
    </div></div>
    <div class="pipe">
    <br><br>
   <h4> Customer Care Numbers :</h4><p> 0755-6610661, 0755-4090600 (Language: Hindi and English)..</p><br>
<h4>For Railway tickets booked through PRCTC</h4><br>
<h4>General Information</h4>
<h4>I-tickets/e-tickets :</h4> <a href="#">care@prctc.co.in</a>
<h4>For Cancellation E-tickets :</h4> <a href="#">etickets@prctc.co.in</a>
<h4>For PRCTC iMudra Prepaid Wallet & Card :</h4> <a href="#">imudracare@prctc.co.in</a><br><br>


<p>For PRCTC SBI Card users who do not receive the card within 01 month from the date of application kindly call on the Railway SBI Card Helpline nos. at 0124-39021212 or 18001801295 (if calling from BSNL/MTNL line) or send email to customercare@sbicard.com. For other queries on your IRCTC SBI card account, kindly email at loyaltyprogram@prctc.co.in</p>

<br>
<h4>Registered Office / Corporate Office</h4>
<h4>Pakistan Railway Catering and Tourism Corporation Ltd.,</h4>
<h4>B-148, 11th Floor, Statesman House,</h4>
<h4>Bagarbagh Road, Lahore 110001</h4>


<br><br>
</div>
    

<h3 class="pop">Important Contents</h3>
<footer class="footer">
  <div class="container">
    
    <div class="row">
      
      <div class="footer-col">
        
        <ul>
          <li><a href="#">PRCTC Trains </a></li>
          <li><a href="#">General Information</a></li>
          <li><a href="#">Important Information</a></li>
          <li><a href="#">Agents</a></li>
          <li><a href="#">Enquiries</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Refund Rules</a></li>
          <li><a href="#">PRCTC Official App</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">For Newly Migrated Agents</a></li>
          <li><a href="#">Mobile Zone</a></li>
          <li><a href="#">Integration Policy</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>