<div class="bha">
  <h3>PAKISTAN RAILWAY RESERVATION SYSTEM</h3>
  <div class="topnav">
      <a routerLink="/home">Home</a>
      <a routerLink="/schedule">Schedule</a>
    <div class="topnav-right"><a routerLink="/userreg">User Register</a>
      <a routerLink="/userlogin">User Login</a>
      <a routerLink="/adminlogin">Admin</a></div>
    </div></div>
    <div>
      <h3>railway helpline</h3>
      <h3>railway email</h3>
      <h3>railway fax</h3>
      <h3>railway about</h3>
      
    </div>