<div style="background-image: url('https://images4.alphacoders.com/150/thumb-1920-150168.jpg');">

<div class="bha"><h2><marquee>PAKISTAN RAILWAY RESERVATION SYSTEM</marquee></h2>
<div class="topnav">
    <a routerLink="/cancel">Cancellation</a>
    <a routerLink="/user">User Home</a>
  <div class="topnav-right"><a routerLink="/home">Logout</a></div>
  </div></div>



  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h4>BOOKING REGISTRATION FORM</h4>
<form [formGroup]="bookSeats" (ngSubmit)="collectTicks()">
    <div class="form-group">
        <label >Source Station</label>
        <input type="text" class="form-control" placeholder="Enter Start Station" formControlName="startStation">
    </div>
    <div class="form-group">
        <label >Destination Station</label>
        <input type="text" class="form-control" placeholder="Enter Destination Station" formControlName="endStation">
    </div>
    <div class="form-group">
        <label >Journey Date</label>
        <input type="date" class="form-control" placeholder="Select Your Journey Date" formControlName="date">
    </div>
    <div class="form-group">
        <label >Passenger Name</label>
        <input type="text" class="form-control" placeholder="Enter Passenger Name" formControlName="name">
    </div>
    <div class="form-group">
        <label >Age</label>
        <input type="number" class="form-control" placeholder="Enter Your Age" formControlName="age">
    </div>
    <div class="input_field radio_option">
        <label >Gender</label><br>
        <select type="select" name="radiogroup1" id="rd1" formControlName="gender">
          <option>Male</option>
          <option>FeMale</option>
        </select>
        
    </div>

    <div class="form-group">
        <label >Mobile Number</label>
        <input type="number" class="form-control" placeholder="Enter Your Mobile Number" formControlName="phone">
    </div>
    <div class="form-group">
        <label >Email Id</label>
        <input type="email" class="form-control" placeholder="Enter Your Valid Email-Id" formControlName="email">
    </div>
    <div class="form-group">
      <label >Address</label>
      <input type="text" class="form-control" placeholder="Enter Your Address" formControlName="address">
  </div>
  <div class="input_field radio_option">
      <label >Class</label><br>
      <select type="select" name="radiogroup1" id="rd2" formControlName="berth">
        <option>Sleeper Class</option>
          <option>General Class</option>
        </select>
  </div>

  
    <div class="form-group">
        <label >Credit Card No</label>
        <input type="number" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" formControlName="credit">
    </div>

    <div class="form-group">
        <label >Bank Name</label>
        <input type="text" class="form-control" placeholder="Enter Your Bank Name" formControlName="bankname">
    </div>
    <br>
    
    <h3 class="free">
      <button type="submit" class="btn btn-success btn-lg btn-block">Book Ticket</button></h3>
    </form>
    </div></div></div>

<br><br></div>




<h3 class="pop">Important Contents</h3>
<footer class="footer">
  <div class="container">
    
    <div class="row">
      
      <div class="footer-col">
        
        <ul>
          <li><a href="#">PRCTC Trains </a></li>
          <li><a href="#">General Information</a></li>
          <li><a href="#">Important Information</a></li>
          <li><a href="#">Agents</a></li>
          <li><a href="#">Enquiries</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Refund Rules</a></li>
          <li><a href="#">PRCTC Official App</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">For Newly Migrated Agents</a></li>
          <li><a href="#">Mobile Zone</a></li>
          <li><a href="#">Integration Policy</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>