.bbb{
  padding-top: 200px;
  padding-left: 500px;
  
}
.ccc{
  border: 2px solid ;
  padding: 40px;
}

.ddd{
  background-color: rgb(84, 243, 97);
  
}
.ddd:hover{
  background-color: white;
}

.ggg{
  text-align: center;
}