<div class="bha"><h2><marquee>PAKISTAN RAILWAY RESERVATION SYSTEM</marquee></h2>
  
    <div class="topnav">
      <a routerLink="/home">Home</a>
      <a routerLink="/timetable">Schedule</a>
      <a routerLink="/contact">Contact Us</a>
    
    <div class="topnav-right">
        <a routerLink="/userreg">User Register</a>
      <a routerLink="/adminlogin">Admin Login</a>
    </div>
    </div>
    </div>

  
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 20px solid #f1f1f1;}
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 30px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 20px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  </style>
  <body>
    <div class="lmno">
  <br>
  <h1 style="text-align: center;">Login Form</h1>
  <br>
  <form action="/action_page.php" method="post" [formGroup]="adminlog" (ngSubmit)="validate()">
    
  
    <div class="container">
      <label >username</label>
      <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
      <span
      style="color: red;" class="error" *ngIf="adminlog.controls.username.touched && adminlog.controls.username.errors"> username is required</span><br>
      <label >password</label>
      <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
      <span
      style="color: red;" class="error" *ngIf="adminlog.controls.password.touched && adminlog.controls.password.errors"> password is required</span>
      <button type="submit">Login</button>
      
    </div>
  
    
  </form></div>
  
  </body>
  
  
  

<h3 class="pop">Important Contents</h3>
<footer class="footer">
  <div class="container">
    
    <div class="row">
      
      <div class="footer-col">
        
        <ul>
          <li><a href="#">PRCTC Trains </a></li>
          <li><a href="#">General Information</a></li>
          <li><a href="#">Important Information</a></li>
          <li><a href="#">Agents</a></li>
          <li><a href="#">Enquiries</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Refund Rules</a></li>
          <li><a href="#">PRCTC Official App</a></li>
        </ul>
      </div>
      <div class="footer-col">
        
        <ul>
          <li><a href="#">For Newly Migrated Agents</a></li>
          <li><a href="#">Mobile Zone</a></li>
          <li><a href="#">Integration Policy</a></li>
          <li><a href="#">How To</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>