<div class="bha">
  <h3>PAKISTAN RAILWAY RESERVATION SYSTEM</h3>
  <div class="topnav">
      <a routerLink="/home">Home</a>
      <a routerLink="/reserve">Reservation</a>
      <a routerLink="/details">Cancellation</a>
      <a routerLink="/schedule">Schedule</a>
      <a routerLink="/contact">Contact</a>
    <div class="topnav-right"><a routerLink="/Admin">Admin</a></div>
    </div></div>
<div class="container">
  <div class="row">
    <div id="custom-search-input">
        <div class="input-grout col-md-12" style="text-align:center">
          <input type="text" class="search-query form-control" placeholder="search with id" name="id" [(ngModel)]="id"/>
          <span class="input-hroup-btn">
            <button class="btn btn-danger" type="button" (click)="getbookbyid()">search
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th>PNR NUMBER</th>
    <th>PASSENGER NAME</th>
    <th>AGE</th>
    <th>GENDER</th>
    <th>ADDRESS</th>
    <th>QUANTITY</th>
    <th>SOURCE STATION</th>
    <th>DESTINATION STATION</th>
    <th>CLASS</th>
    <th>CREDIT NUMBER</th>
    <th>BANK NAME</th>
    <th>CANCEL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="bookingorder" >
    <td><span>{{bookingorder.id}}</span></td>
    <td><span>{{bookingorder.name}}</span></td>
    <td><span>{{bookingorder.age}}</span></td>
    <td><span>{{bookingorder.gender}}</span></td>
    <td><span>{{bookingorder.address}}</span></td>
    <td><span>{{bookingorder.quantity}}</span></td>
    <td><span>{{bookingorder.startStation}}</span></td>
    <td><span>{{bookingorder.endStation}}</span></td>
    <td><span>{{bookingorder.berth}}</span></td>
    <td><span>{{bookingorder.credit}}</span></td>
    <td><span>{{bookingorder.bankname}}</span></td>
    <th><a class="cde"><i (click)="deleteResto(bookingorder.id)"> CANCEL TICKET</i></a>
      </th>
  </tr>
  </tbody>
</table>
